---
---

@import "_sass/variables";
@import "_sass/base";
@import "_sass/type";
@import "_sass/syntax";
@import "_sass/code";
@import "_sass/layout";
@import "_sass/masthead";
@import "_sass/posts";
@import "_sass/pagination";
@import "_sass/message";
@import "_sass/toc";

// Sass for creating the swatches
.colors {
  display: grid;
  grid-template-columns: max-content 1fr;

  dt {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  }

  dd {
    margin-left: var(--spacer);
  }
}
